module(load="imuxsock") # local messages
module(load="imtcp" # TCP listener
    StreamDriver.Name="gtls"
    StreamDriver.Mode="1" # run driver in TLS-only mode
    StreamDriver.Authmode="anon"
    #PermittedPeer["*"]
    MaxSessions="3000" # max number of TCP connections
    )

# make gtls driver the default and set certificate files
global(
    DefaultNetstreamDriver="gtls"
    DefaultNetstreamDriverCAFile="CA_PATH"
    DefaultNetstreamDriverCertFile="CERT_PATH"
    DefaultNetstreamDriverKeyFile="KEY_PATH"
    )

    # start up listener at port 6514
    input(
    type="imtcp"
    port="6514"
    )


module(load="omprog")

# add rsyslog path for gw serial based on hostname
$template DynaFile, "/var/log/gw-%HOSTNAME%/%HOSTNAME%.log"
$CreateDirs on
*.* ?DynaFile
& stop
